#players, #result {
	display: none;
}

#selector {
	padding: 5px;
}

input, button, #result {
	margin: 10px 0px 0px 0px;
}

table {
	border-collapse: collapse;
}

th {
	width: 70px;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 2px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

h1 {
	text-align: center;
}
